/* .container{
    
    width: 30%;
    box-shadow: 10px 10px 8px 10px #888888;
    border-radius: 4%;
    
}
.row{
    margin-left:25%;
    width: 60%;  
}
.col{
    margin-top:2% ;
}
.createAcount{
    width: 60%;
    margin-bottom: 4%;
} */
.createAcount{
    width: 280px;
}