<div class="container">
    
    <div class="row">
        <div class="col " style="max-width: 30%;" >
          <mat-form-field appearance="fill">
            <mat-label>name</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
    </div>
        <div class="row">
            <div class="col " style="max-width: 30%;" >
              <mat-form-field appearance="fill">
                <mat-label>last name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col " style="max-width: 30%;" >
              <mat-form-field appearance="fill">
                <mat-label>nick</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col " style="max-width: 30%;" >
              <mat-form-field appearance="fill">
                <mat-label>email</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col " style="max-width: 30%;" >
              <mat-form-field appearance="fill">
                <mat-label>password</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-raised-button class="createAcount" (click)="adduser()">create</button>

            </div>
        </div>

</div>