#band{
    margin-top: 0px;
}
.attributes{
    margin: 3px;
    width: 60px;
}
.hit_dice{
    margin: 0px;
}
#main-col{
    max-width: 30%;
}
.creater{

    margin-top: 5px;
}
.createrbutton{
    width: 140px;
    background-color: seagreen;
}
.container{
    margin-top: 25px;
}
.th{
    margin: 10px;
}