.attributes{
    width: 35%;
}
.hit_dice{
    width: 60%;
}
#main-col{
    max-width: 30%;
}
.creater{

    margin-top: 5px;
}
.createrbutton{
    width: 140px;
    background-color: seagreen;
}
.container{
    margin-top: 25px;
}