<div class="container">
    
        <div class="row">
            <div class="col " style="max-width: 30%;" >
              <mat-form-field appearance="fill">
                <mat-label>nick</mat-label>
                <input matInput [(ngModel)]="nick">
              </mat-form-field>
            </div>
        </div>
            <div class="row">
                <div class="col " style="max-width: 30%;" >
                  <mat-form-field appearance="fill">
                    <mat-label>pass</mat-label>
                    <input matInput [(ngModel)]="password">
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-raised-button (click)="makelogin()">login</button>

                </div>
                <div class="col">
                    <button mat-raised-button onclick="location.href='/register'">registre</button>

                </div>
            </div>
    
</div>
